:root {
  --main-color: #2cc0ff;
  --text-color: white;
  --secondary-text-color: #09212b;
  --font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --bgc-color: #0b2733;
}
